body {
  margin: 0;
  box-sizing: border-box;
  height: 4000px; }

.navigation {
  background-color: #0d1a26;
  text-align: center;
  vertical-align: middle;
  padding: 25px;
  z-index: 999; }
  .navigation ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: block; }
  .navigation li {
    text-decoration: none;
    color: #fff; }
  .navigation a {
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
    font-size: 1rem;
    padding: 30px;
    text-transform: uppercase; }

.call-info {
  text-align: right; }

.logo-brand {
  text-align: center; }
  .logo-brand h1 {
    font-size: 3rem;
    margin-top: -10px; }

.nav-section {
  margin-top: 20px; }

.section-photo {
  height: 100%;
  background-image: url(img/392H.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -36px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center; }
  .section-photo h1 {
    font-size: 4.5rem;
    color: #fff; }
  .section-photo p {
    font-size: 3rem;
    color: white; }

.container {
  position: relative; }

.photo-sect {
  position: relative;
  height: 85vh;
  margin-bottom: -36px; }

.photo-sect-button {
  padding: 15px;
  width: 180px;
  font-size: 1.2rem; }

.form-sect {
  background-color: #0d1a26;
  padding: 23px;
  position: relative; }
  .form-sect::before {
    content: "Request Service Today";
    color: #fff;
    text-align: center;
    vertical-align: middle;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 270px;
    height: 40px;
    display: block;
    background-color: #f0ad4e;
    top: -40px;
    left: 0px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.2rem; }

.form-name-text {
  width: 29%;
  padding: 5px; }

.submit-form-btn {
  margin-bottom: 4px; }

.about-us {
  text-align: center;
  margin-top: 40px; }

.decorate-text {
  color: #f0ad4e; }

.check-list {
  list-style: none outside none;
  margin: 0;
  padding: 0; }
  .check-list li {
    padding: 5px;
    margin: 0; }
  .check-list i {
    margin-right: 10px;
    color: #f0ad4e; }

.about-btn {
  height: 40px;
  width: 200px;
  padding: 0;
  margin-left: 5px;
  margin-top: 20px; }

.skew-1 {
  -webkit-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
  width: 500px;
  height: 400px;
  overflow: hidden; }

.skew-2 {
  -webkit-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
  width: 500px;
  height: 400px;
  overflow: hidden; }

.skew-3 {
  -webkit-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
  width: 500px;
  height: 400px;
  overflow: hidden; }

.skew-cont {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #081a2a; }

.skew-image {
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -52px; }

.mask-skew {
  -webkit-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
  width: 500px;
  height: 500px;
  overflow: hidden; }

.art-skew {
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  position: relative;
  left: -90px;
  width: auto;
  height: 100%; }

.about-sect {
  margin-bottom: 50px; }
