body {
    margin: 0;
    box-sizing: border-box;
    height: 4000px;
}

.navigation {
    background-color: #0d1a26;
    text-align: center;
    vertical-align: middle;
    padding: 25px;
    z-index: 999;
    ul {
        list-style: none outside none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-content: center;
        display: block;
    }
    li {
        text-decoration: none;
        color: #fff;
    }
    a {
        text-decoration: none;
        color: #fff;
        vertical-align: middle;
        font-size: 1rem;
        padding: 30px;
        text-transform: uppercase;
    }
}

.call-info {
    text-align: right;
}

.logo-brand {
    text-align: center;
    h1 {
        font-size: 3rem;
        margin-top: -10px;
    }
}

.nav-section {
    margin-top: 20px;
}

.icons-aw {}

.section-photo {
    height: 100%;
    background-image: url(img/392H.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h1 {
        font-size: 4.5rem;
        color: #fff;
    }
    p {
        font-size: 3rem;
        color: white;
    }
}

.container {
    position: relative;
}

.photo-sect {
    position: relative;
    height: 85vh;
    margin-bottom: -36px;
}

.photo-sect-button {
    padding: 15px;
    width: 180px;
    font-size: 1.2rem;
}

.form-sect {
    background-color: #0d1a26;
    padding: 23px;
    position: relative;
    &::before {
        content: "Request Service Today";
        color: #fff;
        text-align: center;
        vertical-align: middle;
        display: flex;
        position: absolute;
        width: 270px;
        height: 40px;
        display: block;
        background-color: #f0ad4e;
        top: -40px;
        left: 0px;
        padding: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 1.2rem;
    }
}

.form-name-text {
    width: 29%;
    padding: 5px;
}

.submit-form-btn {
    margin-bottom: 4px;
}

.about-us {
    text-align: center;
    margin-top: 40px;
}

.decorate-text {
    color: #f0ad4e;
}

.check-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    li {
        padding: 5px;
        margin: 0;
    }
    i {
        margin-right: 10px;
        color: #f0ad4e;
    }
}

.about-btn {
    height: 40px;
    width: 200px;
    padding: 0;
    margin-left: 5px;
    margin-top: 20px;
}

.skew-div {
    //    height: 400px;
    //    width: 30%;
    //    transform: skew(20deg) //    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
}

.skew-1 {
    transform: skewX(20deg);
   
    width: 500px;
    height: 400px;
    overflow: hidden;
    
}

.skew-2 {
    transform: skewX(20deg);
   
    width: 500px;
    height: 400px;
    overflow: hidden;
    
}

.skew-3 {
    transform: skewX(20deg);
   
    width: 500px;
    height: 400px;
    overflow: hidden;
    
}

.skew-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #081a2a;
}

.skew-image {
    transform: skewX(-20deg);
    //    position: relative;
    left: -52px;
}

.mask-skew {
    transform: skewX(20deg);
    
    width: 500px;
    height: 500px;
    overflow: hidden;
   
}

.art-skew {
    transform: skewX(-20deg);
    position: relative;
    left: -90px;
    width: auto;
    height: 100%;
  
}



.about-sect {
    margin-bottom: 50px;
}

.skew-text {
    position: absolute;
    top:40%;
    left: 25%;
    color:white;
    font-size:3rem;
    transform: skewX(-20deg)
}

.skew-button {
    position: absolute;
    top:55%;
    left: 30%;
    color:white;
    font-size:2rem;
    transform: skewX(-20deg);
    font-size:1rem;
    width: 110px;
    height: 40px;
    text-align: center;
}
