body{
    margin: 0;
    box-sizing: border-box;
    height: 4000px;
   
}
.navigation {
    background-color: #0d1a26;
    text-align: center;
    vertical-align: middle;
    padding: 25px;
    z-index: 999;
   
    
    
   
    
    ul{
        list-style: none outside none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-content: center;
        display: block;
    }
    li{
        text-decoration: none;
        color:#fff;
       
     
        
        
    }
    a{
        text-decoration: none;
        color:#fff;
        vertical-align: middle;
        font-size: 1rem;
        padding: 30px;
        text-transform: uppercase;
        
    }
}

.call-info {
    text-align: right;
}

.logo-brand {
    text-align: center;
    h1{
        font-size: 3rem;
        margin-top: -10px;
    }
}

.nav-section {
    margin-top: 20px;
}

.icons-aw {
   
}



.section-photo {
    height: 100%;
    background-image: url(img/392H.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:-36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h1{
        font-size: 4.5rem;
        color: #fff;
    }
    p{
        font-size: 3rem;
        color:white;
    }
    
    
   
    
    
}




.container {
    position: relative;
}

.photo-sect {
    position: relative;
    height: 85vh;
    margin-bottom: -36px;
    
    
}

.photo-sect-button {
    padding: 15px;
    width:180px;
    font-size: 1.2rem;
}

.form-sect {
    background-color: #0d1a26;
    padding: 23px;
    position: relative;
    &::before{
        content: "Request Service Today";
        color:#fff;
        text-align: center;
        vertical-align: middle;
        display: flex;
        position: absolute;
        width:270px;
        height: 40px;
        display: block;
        background-color: #f0ad4e;
        top:-40px;
        left: 0px;
        padding: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 1.2rem;
    }
}

.form-name-text {
    width: 29%;
    padding: 5px;
    
}

.submit-form-btn {
    margin-bottom: 4px;
}

.about-us {
   text-align: center;
    margin-top: 40px;
}

.decorate-text {
    color:#f0ad4e;
}

.check-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    li{
        padding: 5px;
        margin: 0;
        
    }
    i{
        margin-right: 10px;
        color:#f0ad4e;
    }
}

.about-btn {
    height: 40px;
    width: 200px;
    padding: 0;
    margin-left: 5px;
    margin-top: 20px;
}

.skew-div {
	height: 400px;
    width:25%;
    transform: skew(20deg);
  
	
}

.skew-1{
    background-color: red;
}

.skew-2{
    background-color: green;
}

.skew-3{
    background-color: yellow;
}

.skew-cont {
    display: flex;
    justify-content: center;
    align-items:center;
}
