body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

.navigation {
  background-color: #0d1a26;
  text-align: center;
  vertical-align: middle;
  padding: 25px;
  z-index: 999; }
  .navigation ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: block; }
  .navigation li {
    text-decoration: none;
    color: #fff; }
  .navigation a {
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
    font-size: 1rem;
    padding: 30px;
    text-transform: uppercase; }

.call-info {
  text-align: right; }

.logo-brand {
  text-align: center; }
  .logo-brand h1 {
    font-size: 3rem;
    margin-top: -10px; }

.nav-section {
  margin-top: 20px; }

.section-photo {
  height: 100%;
  background-image: url(img/392H.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -36px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center; }
  .section-photo h1 {
    font-size: 4.5rem;
    color: #fff; }
  .section-photo p {
    font-size: 3rem;
    color: white; }

.container {
  position: relative; }

.photo-sect {
  position: relative;
  height: 85vh;
  margin-bottom: -36px; }

.photo-sect-button {
  padding: 15px;
  width: 180px;
  font-size: 1.2rem; }

.form-sect {
  background-color: #0d1a26;
  padding: 23px;
  position: relative; }
  .form-sect::before {
    content: "Request Service Today";
    color: #fff;
    text-align: center;
    vertical-align: middle;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 270px;
    height: 40px;
    display: block;
    background-color: #f0ad4e;
    top: -40px;
    left: 0px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.2rem; }

.form-name-text {
  width: 29%;
  padding: 5px; }

.submit-form-btn {
  margin-bottom: 4px; }

.about-us {
  text-align: center;
  margin-top: 40px; }

.decorate-text {
  color: #f0ad4e; }

.check-list {
  list-style: none outside none;
  margin: 0;
  padding: 0; }
  .check-list li {
    padding: 5px;
    margin: 0; }
  .check-list i {
    margin-right: 10px;
    color: #f0ad4e; }

.about-btn {
  height: 40px;
  width: 200px;
  padding: 0;
  margin-left: 5px;
  margin-top: 20px; }

.skew-1 {
  -webkit-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
  width: 500px;
  height: 400px;
  overflow: hidden; }

.skew-2 {
  -webkit-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
  width: 500px;
  height: 400px;
  overflow: hidden; }

.skew-3 {
  -webkit-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
  width: 500px;
  height: 400px;
  overflow: hidden; }

.skew-cont {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #081a2a; }

.skew-image {
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -52px; }

.mask-skew {
  -webkit-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
  width: 500px;
  height: 500px;
  overflow: hidden;
  position: relative; }

.art-skew {
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  position: relative;
  left: -90px;
  width: auto;
  height: 100%;
  overflow: hidden; }

.about-sect {
  margin-bottom: 50px; }

.skew-text {
  color: white;
  font-size: 3rem; }

.skew-button {
  color: white;
  font-size: 2rem;
  font-size: 1rem;
  width: 110px;
  height: 40px;
  text-align: center; }

.our-service {
  text-align: center;
  margin-top: 50px; }

.icons-section-box {
  text-align: center; }
  .icons-section-box i {
    color: #f0ad4e;
    padding: 40px; }

.contact-header {
  background-color: #0d1a26;
  text-align: center;
  color: #fff;
  padding: 70px; }

iframe {
  width: 100%; }

.contact-header-par {
  font-size: 2rem; }

.contact-header-bold-text {
  font-weight: 600; }

.white-btn {
  color: #1b1c1c;
  font-weight: 600;
  background-color: #e2e2e2; }
  .white-btn i {
    color: #f0ad4e; }

.bulb-section {
  text-align: center;
  margin-top: 40px; }

.bulb {
  font-size: 4rem;
  color: #f0ad4e; }

.item {
  background-color: #ccc;
  display: block; }

#carousel-target {
  min-height: 300px;
  background-image: url(img/facade_building_glass_bottom_view_sky_115173_1920x1080.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.cite-text {
  text-align: center;
  color: #fff;
  vertical-align: middle;
  padding: 100px; }

.companies-sect {
  text-align: center;
  margin-top: 50px; }

.emergency-sect-el {
  text-align: center;
  vertical-align: middle; }

.emergency-sect {
  background-color: #f0ad4e;
  margin-top: 50px; }

.emergency-text p {
  font-size: 1.1rem;
  clear: both;
  padding-top: 10px; }

.footer-map {
  height: 250px;
  margin-bottom: 0; }

.footer-sect {
  background-color: #0d1a26;
  margin-bottom: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff; }

@media (max-width: 768px) {
  .nav-section {
    font-size: 0.7rem; }
  .navigation a {
    font-size: 0.9rem;
    padding: 10px; }
  .form-name-text {
    width: 100%; }
  .skew-text {
    font-size: 1.5rem;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
  .mask-skew {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
  .art-skew {
    display: block; }
  .skew-cont-box {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important; } }

@media (max-width: 992px) {
  .video-sect-text {
    text-align: center; }
  .skew-text {
    font-size: 2rem; } }

.skew-cont-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 37%;
  left: 30%;
  right: 30%;
  text-align: center;
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg); }

@media (max-width: 544px) {
  .skew-text {
    font-size: 1.5rem; } }

.navigation-row {
  overflow: hidden;
  position: fixed;
  z-index: 999;
  width: inherit;
  top: 0; }

.loading-page {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  background-color: rgba(172, 172, 172, 0.5); }

.spinner {
  width: 80px;
  height: 80px;
  border: 5px solid white;
  border-top: 3px solid #f0ad4e;
  border-radius: 100%;
  background-color: rgba(227, 227, 227, 0.5);
  z-index: 2000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation-name: spinner;
  animation-name: spinner;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
