$color1:#0d1a26;
$orange:#f0ad4e;
$dark:#1b1c1c;
$cream:#e2e2e2;


body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navigation {
    background-color: $color1;
    text-align: center;
    vertical-align: middle;
    padding: 25px;
    z-index: 999;
    ul {
        list-style: none outside none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-content: center;
        display: block;
    }
    li {
        text-decoration: none;
        color: #fff;
    }
    a {
        text-decoration: none;
        color: #fff;
        vertical-align: middle;
        font-size: 1rem;
        padding: 30px;
        text-transform: uppercase;
        &:hover{
            color:$orange;
            transition: 900ms;
        }
    }
}

.call-info {
    text-align: right;
}

.logo-brand {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 3rem;
        margin-top: -10px;
    }
}

.nav-section {
    margin-top: 20px;
}


.section-photo {
    height: 100%;
    background-image: url(img/392H.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h1 {
        font-size: 4.5rem;
        color: #fff;
    }
    p {
        font-size: 3rem;
        color: #fff;
    }
}

.container {
    position: relative;
}

.photo-sect {
    position: relative;
    height: 85vh;
    margin-bottom: -36px;
}

.photo-sect-button {
    padding: 15px;
    width: 180px;
    font-size: 1.2rem;
}

.form-sect {
    background-color: $color1;
    padding: 23px;
    position: relative;
    &::before {
        content: "Request Service Today";
        color: #fff;
        text-align: center;
        vertical-align: middle;
        display: flex;
        position: absolute;
        width: 270px;
        height: 40px;
        display: block;
        background-color: $orange;
        top: -40px;
        left: 0px;
        padding: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 1.2rem;
    }
}

.form-name-text {
    width: 29%;
    padding: 5px;
    outline: $orange;
    &:focus{
         border:1px solid $orange;
    }
   
}

.submit-form-btn {
    margin-bottom: 4px;
}

.about-us {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    p{
        margin-top: 20px;
        
        font-size: 1.3rem;
    }
}

.decorate-text {
    color: $orange;
}

.check-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    li {
        padding: 5px;
        margin: 0;
    }
    i {
        margin-right: 10px;
        color: $orange;
    }
}

.about-btn {
    height: 40px;
    width: 200px;
    padding: 0;
    margin-left: 5px;
    margin-top: 20px;
}



.skew-1 {
    transform: skewX(20deg);
    width: 500px;
    height: 400px;
    overflow: hidden;
}

.skew-2 {
    transform: skewX(20deg);
    width: 500px;
    height: 400px;
    overflow: hidden;
}

.skew-3 {
    transform: skewX(20deg);
    width: 500px;
    height: 400px;
    overflow: hidden;
}

.skew-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color1;
}

.skew-image {
    transform: skewX(-20deg);
    //    position: relative;
    left: -52px;
}

.mask-skew {
    transform: skewX(20deg);
    width: 500px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.art-skew {
    transform: skewX(-20deg);
    position: relative;
    left: -90px;
    width: auto;
    height: 100%;
    overflow: hidden;
}

.about-sect {
    margin-bottom: 50px;
    margin-top:50px;
}

.skew-text {
    color: white;
    font-size: 3rem;
}

.skew-button {
    color: white;
    font-size: 2rem;
    font-size: 1rem;
    width: 110px;
    height: 40px;
    text-align: center;
}

#services{
    margin-top: 50px;
    margin-bottom:50px;
}

.our-service {
    text-align: center;
  
    
}

.icons-section-box {
    text-align: center;
    i {
        color: $orange;
        padding: 40px;
    }
}

.contact-header {
    background-color: $color1;
    text-align: center;
    color: #fff;
    padding: 70px;
}

iframe {
    width: 100%;
}

#whyUs{
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-header-par {
    font-size: 2rem;
}

.contact-header-bold-text {
    font-weight: 600;
}

.white-btn {
    color: $dark;
    font-weight: 600;
    background-color: $cream;
    i {
        color:$orange ;
    }
}

.bulb-section {
    text-align: center;
    margin-top: 40px;
}

.bulb {
    font-size: 4rem;
    color: $orange;
}

.item {
    background-color: $cream;
    display: block;
}

#carousel-target {
    min-height: 300px;
    background-image: url(img/facade_building_glass_bottom_view_sky_115173_1920x1080.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cite-text {
    text-align: center;
    color: #fff;
    vertical-align: middle;
    padding: 100px;
}

.companies-sect {
    text-align: center;
    margin-top: 50px;
}

.emergency-sect-el {
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emergency-sect {
    background-color: $orange;
    margin-top: 50px;
}

.emergency-text {
    p {
        font-size: 1.1rem;
        clear: both;
        padding-top: 10px;
    }
}

.footer-map {
    height: 250px;
    margin-bottom: 0;
}

.footer-sect {
    background-color: $color1;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
}

@media(max-width:768px) {
    .nav-section {
        font-size: 0.7rem;
    }
    .navigation {
        a {
            font-size: 0.9rem;
            padding: 10px;
        }
    }
    .form-name-text {
        width: 100%;
    }
    .skew-text {
        font-size: 1.5rem;
        transform: none;
    }
    .mask-skew {
        transform: none;
    }
    .art-skew {
        display: block;
    }
    .skew-cont-box {
        transform: none !important;
    }
}

@media(max-width:992px) {
    .video-sect-text {
        text-align: center;
    }
    .skew-text {
        font-size: 2rem;
    }
}

@media(max-width:768px){
    .footer-contact-info {
    margin-bottom: 30px;
}
}

.skew-cont-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 37%;
    left: 30%;
    right: 30%;
    text-align: center;
    transform: skewX(-20deg);
}



@media(max-width:544px) {
    .skew-text {
        font-size: 1.5rem;
    }
    .bulb{
        font-size:2rem;
    }
    .call-info{
        display: none;
    }
    .social-icons{
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }
    .contact-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}

@media(max-width:532px){
    .call-btn{
        margin-bottom: 10px;
    }
    .emergency-text p{
        font-size:1rem;
    }
}



.navigation-row {
    overflow: hidden;
    position: fixed;
    z-index: 999;
    width: inherit;
    top: 0;
}

.loading-page {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    background-color: rgba(172, 172, 172, 0.5);
}

.spinner {
    width: 80px;
    height: 80px;
    border: 5px solid white;
    border-top: 3px solid $orange;
    border-radius: 100%;
    background-color: rgba(227, 227, 227, 0.1);
    z-index: 2000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation-name: spinner;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}



@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}





.service-col {
    p{
        margin-top: 20px;
        font-size: 1.3rem;
    }
}

.switch-text {
    font-weight: 700;
}




